/* цвет основного текста  #212121 */
/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* background: #E5E5E5; */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* body */
body {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway; normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
/*site-nav */

.site-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.connection .home-adress {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
}
.connection .home-adress {
  color: var(--primary-text-color);
}
.connection .home-adress:hover,
.connection .home-adress:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--primary-text-color);
}
.heroy {
  background: #2f303a;
}
.heroy-title {
  color: var(--primary-white-color);
  font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1,36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button-service {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1,86;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

}
.title {
  color: var(--title-text-color);
}
h3 {
  font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
h2 {
  font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1,2;
text-align: center;
letter-spacing: 0.03em;
}
h4 {
  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1,2;
text-align: center;
letter-spacing: 0.03em;
}
.comand {
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,18;
text-align: center;
letter-spacing: 0.03em;
}
.adress .home-adress {
  color: rgba(255, 255, 255, 0.6);;
  background-color: #2f303a;
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;

}
.adress {
  color: var(--primary-white-color);
  background-color: #2f303a;
  font-family: Roboto;
font-style: initial;
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
}
.filter .filter-button {
  color: var(--title-text-color);
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
