/* цвет основного текста  #212121 */
/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* background: #E5E5E5; */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* body */
body {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--accent-color);
  font-family: Oleo Script;
}
ul {
  list-style: none;
}
/*site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.connection .home-adress {
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.connection .home-adress {
  color: var(--primary-text-color);
}
.connection .home-adress:hover,
.connection .home-adress:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--primary-text-color);
}
.heroy {
  background: #2f303a;
}
.heroy-title {
  color: var(--primary-white-color);
}
.button-service {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.title {
  color: var(--title-text-color);
}
.adress .home-adress {
  color: var(--primary-white-color);
  background-color: #2f303a;
}
.adress {
  color: var(--primary-white-color);
  background-color: #2f303a;
}
.filter .filter-button {
  color: var(--title-text-color);
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
