/* цвет основного текста  #212121 */
/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* background: #E5E5E5; */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* body */

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
span {
  color: var(--accent-color);
}
ul {
  list-style: none;
}
.heroy {
  background: #2f303a;
  text-align: center;
  width: 1600px;
  height: 600px;
}
.heroy-title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 400px 30px;

  padding-top: 200px;
}
a.button-service {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 86;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;

  box-sizing: content-box;
  padding: 10px 30px;
  margin-bottom: 210px;
}

.title {
  color: var(--title-text-color);
}
/*site-nav */
.container-header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
a.link {
  margin-right: 50px;
  padding: 16px 0px;
}
.link a:last-child {
  margin-right: 0px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.connection .home-adress {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.connection .home-adress {
  color: var(--primary-text-color);
}
.connection .home-adress:hover,
.connection .home-adress:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--primary-text-color);
}

h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 94px;
}
h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  margin-top: 94px;
}
.imagy {
  margin-right: 30px;
}
h4 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 2;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 108px;
}
.title.team {
  margin-bottom: 10px;
  margin-top: 30px;
}
.team p {
  margin-bottom: 30px;
  margin-top: 0px;
}
.adress .home-adress {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 9px;
}
.adress .home-adress:hover,
.adress .home-adress:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--primary-white-color);
  background-color: #2f303a;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;

  box-sizing: content-box;
  width: 1600px;
  height: 252px;
}
.sign {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
}
a.sign {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 1240px 161px 215px;
}
span {
  color: #2196f3;
}
.filter .filter-button {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 6;
  text-align: center;
  letter-spacing: 0.03em;
}
button {
  display: inline-block;
  padding: 6px 22px;
  border: 4px;

  margin-right: 8px;
  margin-bottom: 50px;
}
button.filter-button:hover,
button.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.all-foto {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
}

.all-foto .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
